set default=0
set timeout=0

insmod all_video
insmod vbe
insmod vga
insmod multiboot

set gfxmode=800x600x32,800x600,auto
set gfxpayload=keep

menuentry "DimonOS-64 Bare-Metal (800x600 TrueColor)" {
    multiboot /boot/dimon-kernel.elf
    boot
}
